#mainFooter {
    font-family: "Inconsolata", monospace;
    background-color: #171a1d;
    color: #94a4b4;
    position: absolute;
    bottom: -13%;
    width: 100%;
    padding: 20px 0 0;
}

#mainFooter span a {
    color: white;
    text-decoration: none;
}

.footer-items {
    justify-content: space-around;
}